// MARGINS
$margin-standard = 15px

// NAVBAR
$navbar-height = 60px

// Z-INDEX
$toppest-zindex = 100
$very-top-zindex = $toppest-zindex - 1
$top-zindex = $toppest-zindex - 2

// COLORS
$navbar-background = #333
