*
  margin 0
  padding 0
  box-sizing border-box
  outline none

html,
body
  background-color white
  font-family Arial,sans-serif
  font-size 14px
  color #999

button
  -moz-appearance none
  -webkit-appearance none
  appearance none
  border none
  background-color transparent
  cursor pointer

ul
  list-style none

img
  &.aspect-ratio
    width 100%
    height 100%
    object-fit contain

video
  width 100%

a
  text-decoration none
  &:hover
    text-decoration underline

h1
  margin-bottom 1rem
h2
  margin-bottom 1rem * 0.75
h3
  margin-bottom 1rem * 0.50
p
  margin-bottom 1rem * 0.25

.a11y,
.hidden
  display none
