@import "framework.variables";
@import "framework.base";
@import "framework.grid";
@import 'partial.menu'
@import 'partial.footer'
@import 'partial.pdp'
@import 'partial.plp'
@import 'partial.legals'
@import 'partial.checkout'
@import 'partial.landing'
@import 'partial.find-in-store.styl'
@import 'partial.product-component-1'

main
  background-color: lightgray!important
  display flex
  article
    background-color: lightseagreen!important
    flex-grow 1
    section
      background-color: lightgreen!important
      flex-grow 1
      flex-shrink 1
    aside
      background-color: lightblue!important
      min-width 300px
