[data-component-name="storesView"]
  aside
    min-width 33.333333%!important
    max-width 33.333333%!important
    padding 0 15px
    section
      margin-bottom 30px
    .stores-list
      li
        padding 5px 10px
        &:nth-child(odd)
          background-color white
        &:nth-child(even)
          background-color lightgray
    .store.name
      font-weight bold
      margin-bottom 5px
    .separator
      margin 0 5px
    .store-open
      color darkgreen
    .store-closed
      color red
    .distance
      display block
      font-style italic
