nav.nav-fixed
  button.nav-btn(onclick="changeViewTo('landingView')") Landing
  button.nav-btn(onclick="changeViewTo('detailView')") PDP
  button.nav-btn(onclick="changeViewTo('listView')") PLP
  button.nav-btn(onclick="changeViewTo('legalsView')") Legals
  button.nav-btn(onclick="changeViewTo('checkoutView')") Checkout
  button.nav-btn(onclick="changeViewTo('storesView')") Stores
  .btn-dropdown-container
    button.nav-btn
      | Dropdown
      small ▼
    .second-navbar
      .second-navbar-column
        h3 Category 1
        button.second-navbar-btn Link 1
        button.second-navbar-btn Link 2
        button.second-navbar-btn Link 3
      .second-navbar-column
        h3 Category 2
        button.second-navbar-btn Link 1
        button.second-navbar-btn Link 2
        button.second-navbar-btn Link 3
      .second-navbar-column
        h3 Category 3
        button.second-navbar-btn Link 1
        button.second-navbar-btn Link 2
        button.second-navbar-btn Link 3
