article(data-component-name="landingView")
  h1.a11y Landing page
  section.grid.grid-noborders(aria-label="Accessibility placeholder")
    .col
      video(controls)
        source(src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4")
        source(src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/ogg")
        | Your browser does not support HTML5 video.
  
  section(aria-label="Accessibility placeholder")
    .grid
      .col
        h2 Landing page
    .grid
      .col
        p Landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing

      .col
        p Landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing
      
      .col
        p Landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing
