div(data-component-name="product-style-1")
  img.aspect-ratio(src="img/ratio-3.4-300x400.png" alt="placeholder text")
  .img-description
    h4 Product title
    p Short product description of about 50-120 words by product like color, and that be usefull to read by ecommerce users.
