//- https://www.orbitmedia.com/blog/website-footer-design-best-practices/
footer
  .container
    for item in [1,2,3,4]
      section(data-section-name="general")
        h2 Title
        ul
          li Sub-Title A
          li Sub-Title B
          li Sub-Title C
          li Sub-Title D
  section.col.col-grow-12(data-section-name="legal-info" aria-label="Accessibility placeholder")
    ul
      li Copiright C 2019 - All right reserved
      li About Us
      li Services
      li Privacy
